*{
    color:antiquewhite;
    background-color: blue;    
}
img{
    width:35%;
    align-items: center;
    height: 90px;
    float: left;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: right;

}
li {
  float:left;
   
}


li a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #131212;
}
li a:active{
    background-color: azure;
    color:tellow
}
li a:hover{
 background-color: rgb(51, 186, 186);
 color: greenyellow;

}
h1 {
 margin-top: 45px; ;
 padding: 2px; 
 text-align: center;  
}